<div>
  <h1>Users list</h1>

  <table>
    <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% User.find_each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>